<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="rollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data/logs/nanren180.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>/data/logs/nanren180.log</file>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} -
				%msg%n
			</pattern>
		</encoder>
		<append>true</append>
		<prudent>false</prudent>
	</appender>
	<logger name="com.mcf" level="INFO" additivity="true">
		<appender-ref ref="rollingFileAppender" />
	</logger>
	<!-- <logger name="org.mybatis" level="DEBUG" additivity="true" > <appender-ref 
		ref="STDOUT" /> </logger> <logger name="java.sql.PreparedStatement" level="DEBUG" 
		additivity="true"> <appender-ref ref="STDOUT" /> </logger> -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>  